* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color-text: #bcbec6;
}
/* CONTAINER */
.container {
    width: 100%;
    height: 100vh;
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target {
    background-color: #fff;
    max-width: 500px;
    margin: 0 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0px -1px 8px 0px #3829e1;
}

/* IMG */
.img-container {
    width: 100%;
    height: 150px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

/* ORDER SECTION */
.order-section {
    text-align: center;
    padding: 30px 40px 10px 40px;
}

.order-section h2 {
    font-weight: bold;
    padding-bottom: 25px;
    letter-spacing: 0.8px;
}

.order-section p {
    line-height: 30px;
    color: var(--color-text);
}

/* SECTION PLAN */
.plan {
    background-color: #f8f9fe;
    margin: 0 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
}

.plan-left {
    display: flex;
    align-items: center;
}

.plan-info {
    padding: 0 10px;
}

.plan-info span {
    color: var(--color-text);
}

.plan-right .plan-change a{
    font-weight: bold;
}

/* BUTTONN */
.btn-pay {
    padding: 15px 0;
    margin: 0 20px 30px;
    font-weight: bold;
    background-color: #3829e1;
    border-radius: 10px;
    border: none;
    color: #fff;
    box-shadow: -1px 4px 13px 0px #3829e1;
    cursor: pointer;
    transition: 0.5s;
}

.cancel-order {
    text-align: center;
    color: #aeb4c5;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0 30px;
}

/* MEDIAQUERIES */

@media (min-width: 762px) {
    body {
        background: url(/images/pattern-background-desktop.svg);
    }

    .img-container {
        height: 200px;
    }
}